<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/coursefinder">Course Finder</a>
    </div>
    <div class="container">
    <h1 style="font-family:'Arial';">Hello! We are so excited to help you find courses!</h1>
    </div>
    <p style="font-family:'Arial';">
        As fellow Babson students, we know how annoying and difficult it can be to navigate across all the Babson website to
        determine what courses you need to take to fulfill your concentration requirement. <br> 
        So, we have created this tool that will help you find courses that are being offered during a semester that will fulfill your concentration requirements! <br>
        Please navigate to the Course Finder tab to see our tool in action and find the courses you want!
    </p>
</body>
</html>